<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../shared/assets/button.css">
    <link rel="stylesheet" href="../../shared/assets/normalize.css">
    <link rel="stylesheet" href="tela-jogo-classico.css">
    <link rel="stylesheet" href="../../Shared/assets/matrizGUI.css">
    <link rel="shortcut icon" href="../../shared/imgs/Bomba/bomba.png" type="image/x-icon">
    <title>Campo Minado - Clássico</title>
</head>

<body onload="buildGridLayout()">
    <div id="container-principal" class="container">
        <section>
             <div id="title-usu">
                <b>AHOY, USUARIO</b>
            <!--</div>
            <div id="text-final">
                <h1>V I T O R I A !</h1>
                <br/>
                <br/>
                <br/>
                <h2>07:43</h2>
                <h3>PONTUACAO 23</h3>
                <br/>
                <br/>
                <br/>
                <button id="jogar_novamente_classico" class="general-button">jogar de novo</button>
                <br/>
                <button id="sair_classico" class="general-button">sair</button>
            </div> -->

        </section>
        <aside>

            <div id="time">
                <div id="classico"><p>CLASSICO CLASSICO</p></div>

                <div class="time-item1">
                    <h1>TEMPO</h1>
                </div>
                <div class="time-item2">
                    <h1 id="tempo"></h1>
                </div>
            </div>

            <div id="config-jogo">

                <div id="titulo-config">
                    <h1>CONFIGURACOES DE JOGO </h1>
                </div>

                <div id="info-jogo">
                    <p id="numero-bombas"></p>
                        <p id="grid"></p>
                </div>

                <div id="botao-config"><button id="configs_classico" class="general-button">ALTERAR CONFIGURACOES</button>
                </div>

            </div>

            <button id="trapaca" class="general-button">TRAPACA</button>
        </aside>
    </div>

    <!-- <script>
        document.getElementById("jogar_novamente_classico").onclick = function() {
            location.href = ("../tela-jogo-classico/tela-jogo-classico.html");
        };
    </script> -->
    <!-- <script>
        document.getElementById("sair_classico").onclick = function() {
            location.href = ("../tela_menu_principal/tela_menu_principal.html");
        };
    </script>
    <script>
        document.getElementById("configs_classico").onclick = function() {
            location.href = ("../configuracoes/configs.html");
        };
    </script> -->
    <!-- <script src="../configuracoes/configuracoes.js"></script> -->
    <script src="../../../Controller/jogo.js"></script>
    <script src="../../Shared/assets/telaJogo.js"></script>


</body>

</html>