@import url(shared.css);
@import url(normalize.css);

body{
    background-image: url(principal_sem_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    position: absolute;
    width: 247px;
    height: 42px;
    left: 520px;
    top: 50px;
    font-weight: normal;
    font-size: var(--header2);
    line-height: 42px;
    letter-spacing: -0.02em;
    color: var(--brown);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Pixel-Art Regular';
}

#creditos{
    position: absolute;
    width: 680px;
    height: 433px;
    left: 323px;
    top: 130px;
    border: 10px solid var(--sand);
    box-sizing: border-box;
}

#pirata1{
    position: absolute;
    width: 145px;
    height: 145px;
    left: 357px;
    top: 160px;
}

#pirata2{
    position: absolute;
    width: 145px;
    height: 145px;
    left: 590px;
    top: 160px;    
}

#pirata3{
    position: absolute;
    width: 145px;
    height: 145px;
    left: 820px;
    top: 160px;
}

#pirata4{
    position: absolute;
    width: 145px;
    height: 145px;
    left: 472px;
    top: 360px;
}

#pirata5{
    position: absolute;
    width: 145px;
    height: 145px;
    left: 718px;
    top: 360px; 
}

#nome1{
    position: absolute;
    left: 405px;
    right: 984px;
    top: 325px;
    bottom: 464px;
    font-family: Pixel-Art;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FAF5F1;
}

#nome2{
    position: absolute;
    left: 635px;
    right: 694px;
    top: 325px;
    bottom: 464px;
    font-family: Pixel-Art;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FAF5F1;
}

#nome3{
    position: absolute;
    left: 870px;
    right: 404px;
    top: 325px;
    bottom: 464px;
    font-family: Pixel-Art;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FAF5F1;
}

#nome4{
    position: absolute;
    left: 520px;
    right: 839px;
    top: 525px;
    bottom: 464px;
    font-family: Pixel-Art;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FAF5F1;
}

#nome5{
    position: absolute;
    left: 770px;
    right: 549px;
    top: 525px;
    bottom: 464px;
    font-family: Pixel-Art;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FAF5F1;
}

#voltar{
    position: absolute;
    width: 17rem;
    height: 90.47px;
    left: 25px;
    top: 520px;
    background-color: var(--brown);
    color: var(--sand);
    border-radius: 10px;
    padding: 1.5% 10px;
    border: 0.7rem solid var(--sand);
    font-size: var(--body);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 20px 4px 5px rgba(0, 0, 0, 0.25);
}

#continuar{
    position: absolute;
    width: 17rem;
    height: 90.47px;
    top: 520px;
    left: 1028px;
    background-color: var(--brown);
    color: var(--sand);
    border-radius: 10px;
    padding: 1.5% 10px;
    border: 0.7rem solid var(--sand);
    font-size: var(--body);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 20px 4px 5px rgba(0, 0, 0, 0.25);
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5ms;
}