<!DOCTYPE html>

<html lang="pt">

    <head>

        <meta charset="UTF-8">
        <title>Créditos</title>
        <link rel="stylesheet" type="text/css" href="creditos.css" />
        <link rel="shortcut icon" href="pirata_png.png"/>
        <link rel="stylesheet" type="text/css" href="normalize.css"/>
        <link rel="stylesheet" type="text/css" href="button.css"/>

    </head>

    <body>

        <h1>CREDITOS</h1>

        <img id="creditos" src="madeira.png" alt="ranking">

        <img id="pirata1" src="pirata_png_sem_fundo.png" alt="pirata">
        <img id="pirata2" src="pirata_png_sem_fundo.png" alt="pirata">
        <img id="pirata3" src="pirata_png_sem_fundo.png" alt="pirata">
        <img id="pirata4" src="pirata_png_sem_fundo.png" alt="pirata">
        <img id="pirata5" src="pirata_png_sem_fundo.png" alt="pirata">

        <h3 id="nome1">NOME</h3>
        <h3 id="nome2">NOME</h3>
        <h3 id="nome3">NOME</h3>
        <h3 id="nome4">NOME</h3>
        <h3 id="nome5">NOME</h3>

        <button id="voltar" type="button">VOLTAR</button>
        <button id="continuar" type="button">CONTINUAR</button>

    </body>

</html>