<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../shared/assets/normalize.css">
    <link rel="stylesheet" href="creditos.css">
    <link rel="shortcut icon" href="../../shared/imgs/Bomba/bomba.png" type="image/x-icon">
    <title>Creditos</title>
</head>

<body>
    <div class="container">
        <p id="titulo">Creditos</p>
        <div class="box">

            <div class="container-imagens"> 
                <div><img class="imagens" src="../../Shared/imgs/Pirata_char/pirata_png.png" alt="Imagem de um dos criadores"></div>
                <div><img class="imagens" src="../../Shared/imgs/Pirata_char/pirata_png.png" alt="Imagem de um dos criadores"></div>
                <div><img class="imagens" src="../../Shared/imgs/Pirata_char/pirata_png.png" alt="Imagem de um dos criadores"></div>
            </div>
            <div class="container-imagens">  
                <div><img class="imagens" src="../../Shared/imgs/Pirata_char/pirata_png.png" alt="Imagem de um dos criadores"></div>
                <div><img class="imagens" src="../../Shared/imgs/Pirata_char/pirata_png.png" alt="Imagem de um dos criadores"></div>
            </div>

        </div>

        <div class="botoes">

            <div>
                <a href="/View/screens/tela_menu_principal/tela_menu_principal.html">
                    <button class="general-button" type="button">
                        voltar
                    </button>
                </a>
            </div>

        </div>  

    </div>

</body>

</html>