<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../shared/assets/normalize.css">
    <link rel="stylesheet" href="../shared/assets/button.css">
    <link rel="shortcut icon" href="../../shared/imgs/Bomba/bomba.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="tela_cadastro.css">
    <title>Cadastre-se!</title>
</head>

<body class="background">
    <div class="container">
        <h2 class="titulo">CADASTRE-SE</h2>


    <div class="box wrap">
        <form>

            <label for="campo_nome">Nome Completo:</label>
            <input type="text"  placeholder="Insira seu nome completo">

            <div class="displayflex row">
                <div class="displayflex column">
                   <label for="campo_datanasc">Data de Nascimento:</label>
                    <input type="date" >
                </div>
                <div class="displayflex column">
                    <label for="campo_cpf">CPF:</label>
                    <input type="number"  placeholder="Insira seu CPF">
                </div>
            </div>

            <label for="campo_telefone">Telefone com DDD:</label>
            <input type="tel"  placeholder="(x x) x x x x x - x x x x">

            <label for="campo_email">E-mail:</label>
            <input type="email"  placeholder="Insira seu e-mail">

            <label for="campo_username">Username:</label>
            <input type="text"  placeholder="Insira seu username">

            <label for="campo_confsenha">Confirme a Senha:</label>
            <input type="password"  placeholder="Insira sua senha">

            <label for="campo_confsenha">Confirme a Senha:</label>
            <input type="password"  placeholder="Insira sua senha novamente">
    
        </form>
    </div>

    <div class="botoes">
            <a href="../inicial/inicial.html">
                <button class="general-button" type="button">
                    voltar
                </button>
            </a>
            <a href="../tela_menu_principal/tela_menu_principal.html">
                <button class="general-button" type="submit">
                    continuar
                </button>
            </a>
    </div>
      

    </div>
    
</body>
</html>