<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../shared/assets/normalize.css">
    <link rel="stylesheet" href="../shared/assets/button.css">
    <link rel="shortcut icon" href="../shared/imgs/Bomba/bomba.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="tela_cadastro.css">
    <title>Cadastre-se!</title>
</head>

<body class="background">
    <h1 class="shared" style="text-align: center; margin-top:1rem; margin-bottom: 1rem; font-size: var(--header2);">Cadastre-se</h1>

    <div class="box">
        <form>
            <ul class="flex-outer">
                <li>
                    <label for="campo_nome">Nome Completo:</label>
                </li>
                <li>
                    <input type="text" class="item" placeholder="Insira seu nome completo">
                </li>
                <li>
                    <label for="campo_datanasc">Data de Nascimento:</label>&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;
                    <label for="campo_cpf">CPF:</label>
                </li>
                <li>
                    <input type="date" class="item">&emsp;
                    <input type="number" class="item" placeholder="Insira seu CPF">
                </li>
                <li>
                    <label for="campo_telefone">Telefone com DDD:</label>
                </li>
                <li>
                    <input type="tel" class="item" placeholder="(x x) x x x x x - x x x x">
                </li>
                <li>
                    <label for="campo_email">E-mail:</label>
                </li>
                <li>
                    <input type="email" class="item" placeholder="Insira seu e-mail">
                </li>
                <li>
                    <label for="campo_username">Username:</label>
                </li>
                <li>
                    <input type="text" class="item" placeholder="Insira seu username">
                </li>
                <li>
                    <label for="campo_senha">Senha:</label>
                </li>
                <li>
                    <input type="password" class="item" placeholder="Insira sua senha">
                </li>
                <li>
                    <label for="campo_confsenha">Confirme a Senha:</label>
                </li>
                <li>
                    <input type="password" class="item" placeholder="Insira sua senha novamente">
                </li>
            </ul>
        </form>
    </div>

    <div style="margin-top: 1em; margin-left: 15px; margin-right: 15px;">
        <a href="../inicial/inicial.html">
            <button class="general-button" type="button">
                voltar
            </button>
        </a>
        <a href="../tela_menu_principal/tela_menu_principal.html">
            <button class="general-button" type="submit" style="float: right;">
                continuar
            </button>
        </a>
    </div>  
    
</body>
</html>