<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Shared/assets/shared.css">
    <title>Document</title>

    <style>

    @font-face{
        font-family: 'pixelart';
        src: url('BubbleShine.otf') format('opentype');
        font-weight: normal;      
        font-style: normal;  
    }

    p{
        font-family: 'pixelart', Arial, Helvetica, sans-serif;
    }
    </style>

</head>
<body>
    <p>Hello World!!!</p>
</body>
</html>