<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../shared/assets/button.css">
    <link rel="stylesheet" href="../../shared/assets/">
    <link rel="stylesheet" href="./tela_menu_principal.css">
    <link rel="shortcut icon" href="../../shared/imgs/Bomba/bomba.png" type="image/x-icon">
    <title>Menu Principal</title>
</head>

<body>
    <div class="body">
        <nav class="side-menu">
            <div>
                <img class="pirata-img" src="../../shared/imgs/Pirata_char/pirata_jpg.gif" alt="Personagem em pixelart de um pirata">
                <h2 class="pirate-name">Pirate name</h2>
            </div>
            <div class="div-buttons">
            <button class="general-button ">perfil</button>
            <button class="general-button">historico</button>
            <button class="general-button">creditos</button>
            </div>
        </nav>
        <section>
            <button class="button-jogar">
                Jogar!
            </button>
        </section>
        <section class="side-menu">
            <h3>top 3</h3>
            <div>
                <span><img src="../../shared/imgs/troféus/ouro.png" alt="troféu de ouro">Bauducco</span>
                <span><img src="../../shared/imgs/troféus/prata.png" alt="troféu de prata">Vika</span>
                <span><img src="../../shared/imgs/troféus/bronze.png" alt="troféu de bronze">Myrelle</span>
            </div>
    
            <div class="div-buttons">
                <button class="general-button ">ver tudo</button>
                <button class="general-button button-vermelho">sair</button>
                </div>
        </section>
    </div>

</body>

</html>