<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Shared/assets/normalize.css">
    <link rel="stylesheet" href="../../Shared/assets/button.css">
    <link rel="stylesheet" href="login.css">
    <link rel="shortcut icon" href="../../Shared/imgs/Bomba/bomba.png" type="image/x-icon">
    <title>Início</title>
</head>

<body>
    <div class="container">
        <div class="box column">
            <!-- <form class="form-login">email</form>
            <form class="form-login">senha</form> -->
            <div class="teste"><img src="/View/Shared/imgs/Pirata_char/pirata_png.png" style="background-color: white; width: 150px; height: 150px;"></div>
            
            <form>
                <ul class="flex">
                    <li> <input type="email" id="email" placeholder="email"> </li>
                    <li> <input type="password" id="senha" placeholder="senha"> </li>
                </ul>
            </form>

            <button class="general-button" type="submit">
                entrar
            </button>

        </div>
        <a href="/View/screens/inicial/inicial.html">
            .
        </a>
    </div>

</body>

</html>