@import url(../../Shared/assets/shared.css);
body {
    justify-content: space-between;
    align-items: center;
    background: url(../../Shared/imgs/BG/back-fire.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    vertical-align: middle;
}

section {
    display: flex;
    padding: 20px;
    padding-top: 0px;
    margin-right: 20px;
    width: 90vh;
    height: 90vh;
    background-color: white;
    align-self: center;
    border: 10px solid #CC983D;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    background-image: url(../../shared/imgs/BG/fundo_tela_jogo_grid.jpg);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

#title-usu {
    text-align: center;
    background-color: var(--sand);
    min-width: 20em;
    width: auto;
    height: 1.5em;
    font-size: var(--body);
}

#text-final {
    text-align: center;
    font-size: 20px;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%)
}

#text-final h1 {
    color: var(--velvet);
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#text-final button:last-child {
    color: var(--velvet);
}

.general-button {
    margin-bottom: 2em;
    height: 4.5em;
}

aside {
    height: 100vh;
    width: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside>p {
    color: var(--white);
    font-size: var(--body);
}

aside>button:last-child {
    background-color: var(--velvet);
    height: 4em;
}

#time {
    background-color: #804000;
    border: 4px solid var(--sand);
    width: 48vh;
    height: 7vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.time-item2 h1 {
    color: var(--sand);
}

#time div {
    flex: 1;
    text-align: center;
}

#config-jogo {
    background-color: #804000;
    border: 4px solid var(--sand);
    width: 48vh;
    height: 55vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#titulo-config {
    align-self: flex-start;
}

#info-jogo {
    align-self: center;
}

#info-jogo p {
    color: var(--white);
    font-size: var(--body);
}

#botao-config {
    align-self: flex-end;
}

h1 {
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}