<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../shared/assets/normalize.css">
    <link rel="stylesheet" href="../../shared/assets/button.css">
    <link rel="stylesheet" href="inicial.css">
    <link rel="shortcut icon" href="../../shared/imgs/Bomba/bomba.png" type="image/x-icon">
    <title>Início</title>
</head>

<body>
    <div class="container">
        <div class="div-buttons">
            <div>        
                
                <a href="/View/screens/login/login.html">
                    <button class="general-button" type="submit">
                        entrar
                    </button>
                </a>
               </button>
            </div>
            <div>
                <button class="general-button" type="submit">
                    cadastre-se
                </button>
            </div>
    
        </div>
    </div>
    
</body>
</html>