<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../shared/assets/normalize.css">
    <link rel="stylesheet" href="../../shared/assets/button.css">
    <link rel="stylesheet" href="inicial.css">
    <link rel="shortcut icon" href="../../shared/imgs/Bomba/bomba.png" type="image/x-icon">
    <script src="/Tabuleiro.js"></script>
    <title>Início</title>
</head>

<body>
    <div class="container">
        <div class="div-buttons">
            <div>
                <button id="login_inicial" class="general-button" type="submit">
                    entrar
                </button>
            </div>
            <div>
                <button id="cadastro_inicial" class="general-button" type="submit">
                    cadastre-se
                </button>
            </div>

        </div>
    </div>


    <!-- estamos utilizando javascript para nossas tags de button, 
        ainda não tivemos aula sobre esse tema mas foi permitido 
        pelo prof usar JS nesse caso -->
    <script>
        document.getElementById("login_inicial").onclick = function() {
            location.href = ("../login/login.html");
        };
    </script>
    <script>
        document.getElementById("cadastro_inicial").onclick = function() {
            location.href = ("../tela_cadastro/tela_cadastro.html");
        };
    </script>

</body>

</html>