@import url(../../Shared/assets/shared.css);
@import url(../../Shared/assets/button.css);

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../shared/imgs/praias/principal_logo.png);
    background-size: cover;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.div-buttons{
    margin-top: 22rem;
    align-items: center;
    display:block; 
}

.general-button{
    padding: 1rem 15px;
    margin: 0.4rem;
}

a{
    color: unset;
}