<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../shared/assets/button.css">
    <link rel="stylesheet" href="../../shared/assets/normalize.css">
    <link rel="stylesheet" href="./historico.css">
    <link rel="shortcut icon" href="../../shared/imgs/Bomba/bomba.png" type="image/x-icon">
    <title>Histórico</title>
</head>

<body>

    <header>
        <h1>historico</h1>
    </header>

    <section >
        <div class="background-ranking">
        <table>
            <tr class="titulos-tabela">
                <th>JOGADOR </th>
                <th>DIMENSOES </th>
                <th>BOMBAS </th>
                <th>MODALIDADE </th>
                <th>TEMPO</th>
                <th>RESULT </th>
                <th>DATA/HORA </th>
            </tr>
            
            <tr>
                <td>JOGADOR </td>
                <td>DIMENSOES </td>
                <td>BOAS </td>
                <td>MODALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DA / HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DINSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEO</td>
                <td>RULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>MENSOES </td>
                <td>BOMBAS </td>
                <td>DALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOADOR </td>
                <td>DIMENSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEMO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DIMENSOES </td>
                <td>BOAS </td>
                <td>MODALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DINSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEO</td>
                <td>RULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>MENSOES </td>
                <td>BOMBAS </td>
                <td>DALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOADOR </td>
                <td>DIMENSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEMO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DIMENSOES </td>
                <td>BOAS </td>
                <td>MODALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DINSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEO</td>
                <td>RULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>MENSOES </td>
                <td>BOMBAS </td>
                <td>DALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOADOR </td>
                <td>DIMENSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEMO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DIMENSOES </td>
                <td>BOAS </td>
                <td>MODALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DA / HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DINSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEO</td>
                <td>RULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>MENSOES </td>
                <td>BOMBAS </td>
                <td>DALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOADOR </td>
                <td>DIMENSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEMO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DIMENSOES </td>
                <td>BOAS </td>
                <td>MODALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DINSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEO</td>
                <td>RULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>MENSOES </td>
                <td>BOMBAS </td>
                <td>DALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOADOR </td>
                <td>DIMENSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEMO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DIMENSOES </td>
                <td>BOAS </td>
                <td>MODALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DINSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEO</td>
                <td>RULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>MENSOES </td>
                <td>BOMBAS </td>
                <td>DALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOADOR </td>
                <td>DIMENSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEMO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>
            <tr>
                <td>JOGADOR </td>
                <td>DIMENSOES </td>
                <td>BOAS </td>
                <td>MODALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DA / HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DINSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEO</td>
                <td>RULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>MENSOES </td>
                <td>BOMBAS </td>
                <td>DALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOADOR </td>
                <td>DIMENSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEMO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DIMENSOES </td>
                <td>BOAS </td>
                <td>MODALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DINSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEO</td>
                <td>RULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>MENSOES </td>
                <td>BOMBAS </td>
                <td>DALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOADOR </td>
                <td>DIMENSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEMO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DIMENSOES </td>
                <td>BOAS </td>
                <td>MODALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>DINSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEO</td>
                <td>RULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOGADOR </td>
                <td>MENSOES </td>
                <td>BOMBAS </td>
                <td>DALIDADE </td>
                <td>TEMPO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>

            <tr>
                <td>JOADOR </td>
                <td>DIMENSOES </td>
                <td>BOMBAS </td>
                <td>MODALIDADE </td>
                <td>TEMO</td>
                <td>RESULT </td>
                <td>DATA/HORA </td>
            </tr>
        </table>
    </div>
    </section>

    <div class="div-footer">
        <a href="../tela_menu_principal/tela_menu_principal.html">
            <button class="general-button" type="button">
                voltar
            </button>
        </a>
        <a href="../tela_menu_principal/tela_menu_principal.html">
            <button class="general-button" type="submit" style="float: right;">
                continuar
            </button>
        </a>
    </div>


</body>

</html>

<!-- <!DOCTYPE html>

<html lang="pt">

    <head>

        <meta charset="UTF-8">
        <title>Histórico do Jogador</title>
        <link rel="stylesheet" type="text/css" href="historico.css" />
        <link rel="shortcut icon" href="historico.png"/>
        <link rel="stylesheet" type="text/css" href="normalize.css"/>
        <link rel="stylesheet" type="text/css" href="button.css"/>

    </head>

    <body>

        <h1>HISTORICO</h1>

        <img id="historico" src="madeira.png" alt="historico">

        <table>

            <tr id="forte">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

            <tr class="fraco">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

            <tr class="fraco">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

            <tr class="fraco">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

            <tr class="fraco">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

            <tr class="fraco">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

        </table>

        <button id="voltar" type="button">VOLTAR</button>
        <button id="continuar" type="button">CONTINUAR</button>


    </body>

</html> -->