@import url(../../shared/assets/shared.css);
@import url(../../shared/assets/normalize.css);

body{
    background-image: url(../../shared/imgs/BG/principal_sem_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: var(--header2);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.div-footer{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

header{
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

section{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.background-ranking{
    background-color: saddlebrown;
    border: solid 8px var(--sand);
    max-height: 25rem;
    width: 80rem;
    margin-bottom: 1%;
    overflow-x:hidden;
    padding: 10px;
    display: flex;
    justify-content: center;
}

table{
    /* padding: 1%; */
    color: var(--brown);
    font-size: var(--body);
    width: 80rem;
    border: none;
    border-spacing: 0 9px;
    border-collapse: separate;
    margin-top: -8px;
}


table tr{
    text-align: left;
}

table tr:nth-child(even){
    background-color: #cc983d9a;

}


.titulos-tabela{
    color: var(--white);
    font-size: var(--body);
    
}   