<!DOCTYPE html>

<html lang="pt">

    <head>

        <meta charset="UTF-8">
        <title>Histórico do Jogador</title>
        <link rel="stylesheet" type="text/css" href="historico.css" />
        <link rel="shortcut icon" href="historico.png"/>
        <link rel="stylesheet" type="text/css" href="normalize.css"/>
        <link rel="stylesheet" type="text/css" href="button.css"/>

    </head>

    <body>

        <h1>HISTORICO</h1>

        <img id="historico" src="madeira.png" alt="historico">

        <table>

            <tr id="forte">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

            <tr class="fraco">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

            <tr class="fraco">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

            <tr class="fraco">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

            <tr class="fraco">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

            <tr class="fraco">
                <td>JOGADOR</td>
                <td>DIMENSOES</td>
                <td>BOMBAS</td>
                <td>MODALIDADE</td>
                <td>TEMPO</td>
                <td>RESULTADO</td>
                <td>DATA/HORA</td>
            </tr>

        </table>

        <button id="voltar" type="button">VOLTAR</button>
        <button id="continuar" type="button">CONTINUAR</button>


    </body>

</html>