body{
    background-image: url(principal_sem_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

h1{
    position: absolute;
    width: 247px;
    height: 42px;
    left: 550px;
    top: 200px;
    font-family: Pixel-Art;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 42px;
    letter-spacing: -0.02em;
    color: #2D170E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#ranking{
    position: absolute;
    width: 626px;
    height: 433px;
    left: 350px;
    top: 320px;
    border: 10px solid #CC983D;
    box-sizing: border-box;
    font-family: 'Pixel-Art Regular';
}

#voltar{
    position: absolute;
    width: 260px;
    height: 90.47px;
    left: 10px;
    top: 780px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 10px solid #CC983D;
    background-color: #381917;
    color: #CC983D;
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Pixel-Art Regular';
}

#continuar{
    position: absolute;
    width: 260px;
    height: 90.47px;
    top: 780px;
    left: 1040px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 10px solid #CC983D;
    background-color: #381917;
    color: #CC983D;
    border-radius: 20px;
    font-size: 25px;
    font-family: 'Pixel-Art Regular';
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5ms;
}