<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../shared/assets/normalize.css">
    <link rel="stylesheet" href="../shared/assets/button.css">
    <link rel="shortcut icon" href="../../shared/imgs/Bomba/bomba.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="Rankingcss.css" />
    <title>Ranking Global</title>

</head>

<body class="background">
    <div class="div-img">
        <img id="trofeus" src="../../shared/imgs/trofeus/conjunto-de-trofeus-com-estilo-pixel-art_475147-84-removebg-preview.png" alt="Imagem de 3 troféus, um de ouro, um de prata e um de bronze.">
    </div>

    <h2 class="titulo">RANKING</h2>


    <div class="box">
        <table class="tabranking">
            <tr>
                <th>USERNAME</th>
                <th>DADOS DA PARTIDA</th>
            </tr>
            <tr class="spaceUnder">
                <td>nome 1</td>
                <td>dados 1</td>
            </tr>
            <tr>
                <td>nome 2</td>
                <td>dados 2</td>
            </tr>
            <tr class="spaceUnder">
                <td>nome 3</td>
                <td>dados 3</td>
            </tr>
            <tr>
                <td>nome 4</td>
                <td>dados 4</td>
            </tr>
            <tr class="spaceUnder">
                <td>nome 5</td>
                <td>dados 5</td>
            </tr>
            <tr>
                <td>nome 6</td>
                <td>dados 6</td>
            </tr>
            <tr class="spaceUnder">
                <td>nome 7</td>
                <td>dados 7</td>
            </tr>
            <tr>
                <td>nome 8</td>
                <td>dados 8</td>
            </tr>
            <tr class="spaceUnder">
                <td>nome 9</td>
                <td>dados 9</td>
            </tr>
            <tr>
                <td>nome 10</td>
                <td>dados 10</td>
            </tr>
        </table>
    </div>

    <div>
        <button id="voltar_ranking" class="general-button" type="button">
                VOLTAR
        </button>
    </div>


    <script>
        document.getElementById("voltar_ranking").onclick = function() {
            location.href = ("../tela_menu_principal/tela_menu_principal.php");
        };
    </script>

</body>

</html>