<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../shared/assets/normalize.css">
    <link rel="stylesheet" href="../shared/assets/button.css">
    <link rel="shortcut icon" href="../shared/imgs/Bomba/bomba.png" type="image/x-icon">
    <title>Ranking Global</title>
    <link rel="stylesheet" type="text/css" href="Rankingcss.css" />
    <link rel="shortcut icon" href="troféu.png"/>

    </head>

    <body>

        <img src="../../shared/imgs/trofeus/">

        <h1>RANKING</h1>

        <img id="ranking" src="madeira.png" alt="ranking">

        <button id="voltar" type="button">VOLTAR</button>
        <button id="continuar" type="button">CONTINUAR</button>


    </body>

</html>