<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Shared/assets/normalize.css">
    <link rel="stylesheet" href="../Shared/assets/button.css">
    <link rel="shortcut icon" href="../Shared/imgs/Bomba/bomba.png" type="image/x-icon">
    
    <link rel="stylesheet" type="text/css" href="Rankingcss.css" />
    <title>Ranking Global</title>

    </head>  

    <body class="background">
       
            <div class="div-img">
                <img src="../../shared/imgs/trofeus/conjunto-de-trofeus-com-estilo-pixel-art_475147-84-removebg-preview.png" height="200vh" width="200vh">
            </div>
        

        <h1 style="text-align: center;">RANKING</h1>

        <div class="box" style="width: 50vw; height: 20vw; margin-top: 1em; overflow-x: auto;">
            <table class="tabranking">
                <tr>
                    <th>Username</th>
                    <th>Dados da Partida</th>
                </tr>
                <tr class="spaceUnder">
                    <td>nome 1</td>
                    <td>dados 1</td>
                </tr>
                <tr>
                    <td>nome 2</td>
                    <td>dados 2</td>
                </tr>
                <tr class="spaceUnder">
                    <td>nome 3</td>
                    <td>dados 3</td>
                </tr>
                <tr>
                    <td>nome 4</td>
                    <td>dados 4</td>
                </tr>
                <tr class="spaceUnder">
                    <td>nome 5</td>
                    <td>dados 5</td>
                </tr>
                <tr>
                    <td>nome 6</td>
                    <td>dados 6</td>
                </tr>
                <tr class="spaceUnder">
                    <td>nome 7</td>
                    <td>dados 7</td>
                </tr>
                <tr>
                    <td>nome 8</td>
                    <td>dados 8</td>
                </tr>
                <tr class="spaceUnder">
                    <td>nome 9</td>
                    <td>dados 9</td>
                </tr>
                <tr>
                    <td>nome 10</td>
                    <td>dados 10</td>
                </tr>
            </table>
        </div>
        
        <div style="margin-top: 0.5em; margin-left: 20px; margin-right: 20px;">
        <a href="../tela_menu_principal/tela_menu_principal.html">
            <button class="general-button" type="button">
                voltar
            </button>
        </a>
        
    </div>

    </body>

</html>