@font-face {
    font-family: 'Dogica Regular';
    src        : url(../fonts/dogica/TTF/dogicapixelbold.ttf) format('ttf'),
        url(../fonts/dogica/dogicapixelbold.woff) format('woff');
}

* {
    font-family: 'Dogica Regular';
    line-height: 1.2em;
    padding        : 0;
    margin         : 0;
    font-style     : unset;
    text-decoration: none;

}

button {
    background-color: transparent;
    border          : 0 transparent;
    color           : var(--sand);
    font-size       : var(--forms);
}

button:hover {
    cursor    : pointer;
    transform : scale(1.1);
    transition: all 0.5ms;
}

a {
    color: unset;
}

.titulo {
    font-size : var(--header2);
    text-align: center;
}