
:root{
    --white: #FAF5F1;
    --brown: #2D170E;
    --sand: #CC983D;
    --velvet: #A30000;
    --blue: #29BAEC;

    --header1: 64px;
    --header2: 48px;
    --body: 18px;
    --forms: 12px;
}

.container {
    width          : 100vw;
    height         : 100vh;
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items    : center;
}