<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../shared/assets/normalize.css">
    <link rel="stylesheet" href="../../shared/assets/button.css">
    <link rel="shortcut icon" href="../../shared/imgs/Bomba/bomba.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/6d7b072ee1.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="tela_perfil.css">
    <title>Seu perfil!</title>
</head>

<body class="background">

    <div class="container">
        <h2 class="titulo">SEU PERFIL</h2>


        <div class="box wrap">
            <form>

                <label for="campo_nome">Nome Completo:</label>
                <div class="displayflex row">
                    <input type="text" placeholder="Insira seu nome completo">
                    <span style="color:#CC983D; font-size: 1.2em;">
                        <i class="fas fa-edit"></i>
                    </span>
                </div>

                <div class="displayflex row">
                    <div class="displayflex column">
                        <label for="campo_datanasc">Data de Nascimento:</label>
                        <div class="displayflex row">
                            <input type="date">
                            <span style="color:#CC983D; font-size: 1.2em;">
                                <i class="fas fa-edit"></i>
                            </span>
                        </div>
                    </div>
                    <div class="displayflex column">
                        <label for="campo_cpf">CPF:</label>
                        <div class="displayflex row">
                            <input type="number" placeholder="Insira seu CPF" id="cpf">
                        </div>
                    </div>
                </div>

                <label for="campo_telefone">Telefone com DDD:</label>
                <div class="displayflex row">
                    <input type="tel" placeholder="(x x) x x x x x - x x x x">
                    <span style="color:#CC983D; font-size: 1.2em;">
                        <i class="fas fa-edit"></i>
                    </span>
                </div>

                <label for="campo_email">E-mail:</label>
                <div class="displayflex row">
                    <input type="email" placeholder="Insira seu e-mail">
                    <span style="color:#CC983D; font-size: 1.2em;">
                        <i class="fas fa-edit"></i>
                    </span>
                </div>

                <label for="campo_username">Username:</label>
                <input type="text" placeholder="Insira seu username" id="username">

                <label for="campo_confsenha">Confirme a Senha:</label>
                <div class="displayflex row">
                    <input type="password" placeholder="Insira sua senha">
                    <span style="color:#CC983D; font-size: 1.2em;">
                        <i class="fas fa-edit"></i>
                    </span>
                </div>


                <label for="campo_confsenha">Confirme a Senha:</label>
                <div class="displayflex row">
                    <input type="password" placeholder="Insira sua senha novamente">
                    <span style="color:#CC983D; font-size: 1.2em;">
                        <i class="fas fa-edit"></i>
                    </span>
                </div>

            </form>
        </div>

        <div class="botoes">
            <a href="../tela_menu_principal/tela_menu_principal.html">
                <button class="general-button" type="button">
                    voltar
                </button>
            </a>
            <a href="../tela_menu_principal/tela_menu_principal.html">
                <button class="general-button" type="submit">
                    continuar
                </button>
            </a>
        </div>

    </div>

</body>

</html>