<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../shared/assets/normalize.css">
    <link rel="stylesheet" href="../../shared/assets/button.css">
    <link rel="stylesheet" href="configs.css">
    <link rel="shortcut icon" href="../../shared/imgs/Bomba/bomba.png" type="image/x-icon">
    <title>Modo de Jogo</title>
</head>

<body>
    <div class="container">
        <div class="box column">

            <p>modo de jogo:</p>
            <select>
                <option>selecione</option>
                <option>classico</option>
                <option>rivotril</option>
            </select>
            <p>tamanho da grade:</p>
            <div class="slidecontainer">
                <input type="number" class="inputcontainer" id="quantity" name="quantity" min="1" max="100" onchange="gridvalue.value=value; gridvalue2.value=value">
                <p id="gridtext"><output id="gridvalue">50</output> x<output class="rangevalue" id="gridvalue2">50</output></p>
            </div>
            <p>numero de bombas:</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="99" value="50" class="slider" id="myRange" onchange="bombvalue.value=value">
                <output class="rangevalue" id="bombvalue">50</output>
            </div>
            <div>
                <button id="jogar_configs" class="general-button general-button-play" type="submit">
                        jogar!
                    </button>
            </div>
            <p>tempo: 00:00</p>

            <a href="../tela_menu_principal/tela_menu_principal.html">
                <div class="div-button-voltar">
                    <img id="retornar" src="../../Shared/imgs/icones/return3.png" alt="Icone de retornar para pagina anterior">
                </div>
            </a>
        </div>
    </div>


    <script>
        document.getElementById("jogar_configs").onclick = function() {
            location.href = ("../tela-jogo-classico/tela-jogo-classico.html");
        };
    </script>
</body>

</html>